*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1214px;
    padding: 0 16px;
    margin: 0 auto;
}

body{
    background: rgb(240,242,245);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.table{
    margin-top: 100px;

}

.table__content{
    width: 100%;
    border-collapse: collapse;
    font-family: cursive;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);


}

th,td{
    /* border-bottom: 1px solid #ddd; */
    border: 1px solid #ddd;
    padding: 10px;
}

th{
    background: #009878;
    text-align: left;
    color: #fff;
}

tr{
    &:nth-child(even){
        background: #eee;
    }
    &:hover{
        cursor: pointer;
        color: #009878;
    }
}

@media (max-width:1000px) {
    .wrapper{
        overflow: auto;
    }

    .table__content{
        width: 1000px;
    }

}

.add{
    display: flex;
    justify-content: center;
}

.btn__open{
    padding: 15px 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border: none;
    border-radius: 40px;
    transition: .7s;
    background: yellowgreen;
    font-family: cursive;
    font-weight: 600;

    &:hover{
        cursor: pointer;
    }

    &:active{
        transform: scale(1.2);
    }
}


.register{
    display: none ;
    position: fixed;

}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #0005;

}

.model{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 400px;
    background: rgb(255,255,255);
    padding: 20px 15px;
    border-radius: 10px;
    transition: .7s;
}

input{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(71, 71, 71, 0.368);
    outline: none;

    &:hover{
        cursor: pointer;
        border-color: yellowgreen;
    }
}

select{
    display: flex;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(71, 71, 71, 0.368);
    outline: none;

}

.model__close{
    padding: 10px 25px;
    border-radius: 8px;
    border: 1px solid rgba(71, 71, 71, 0.368);
    background: dodgerblue;
    color: #ffff;
    font-weight: 700;
}

.model__btn{
    padding: 10px 25px;
    border-radius: 8px;
    border: 1px solid rgba(71, 71, 71, 0.368);
    background: dodgerblue;
    cursor: pointer;
    color: #eee;
    font-weight: 700;
}